*{
    background-color: antiquewhite;
}

.circle{
    width: 80px;
    height: 70px;    
    text-align:center;
    border-radius: 50%;
    overflow: hidden;
    background-color: blueviolet;
    
}

.triangle{
    width: 0px;
    height: 0px;    
    text-align:center;    
    overflow: hidden;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid orangered; 
    
}